.error404{
    width:100%;
    margin: 0 auto;

    .errorItems{
        width:100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        }
        .gatito404{
            color: green;
            margin: auto;
           

            h1{
                color:$color-rosa;
                margin: auto;
                font-family:$fontDeco2;
        }

    }

}
