.errorItems{
    width: 100%;
    margin: 0 auto;
    .contentError{
        display: flex;

        .gatito404{
            width: 100%;
            margin:auto;
            display: flex;
            flex-direction: column;
            
            h1{
                color:$color-rosa;
                font-size: 2em;
                font-family:$fontDeco2;
                background-color: red($color: #000000);

            }

        }
    }
}