.containerServicios{
    padding-top: 5em;
    width:100%;
    margin: auto;
    background-color: $color-rosa;
    @media screen and (min-width : 320px) and (max-width : 480px) {
        /* Styles */
        padding-top: 10em auto;
        background-color: $color-gris;
      }
   /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-width : 768px) and (max-width : 1024px) {
        /* Styles */
        background-color: $color-rosa;
    }
  
    /* Desktops and laptops ----------- */
    @media only screen and (min-width : 1224px) {
        /* Styles */
        background-color: $color-rosa;
    }
    

    .containerItemsServicios{
        margin: 0 auto 1.8em;
        padding-bottom: 2em;


        .r-Servicios{
            

            .tituloSectionservicios{
                @include encabezados($color-blanco, 0 0 1em 0);
    
            }

        }


    }
}